// These are global variables

// WE USE VARIABLES DIRECTLY INTO COMPONENTS BY IMPLEMENTING CSS VARIABLE

// Breakpoints (Starting point)
$screen-sm: 640px;
$screen-md: 920px;
$screen-lg: 1200px;
$screen-xl: 1440px;

// breakpoint sizes to generate 
$breakpoints: (
  'sm': 640px,  // @media (min-width: 640px) { ... }
  'md': 920px,  // @media (min-width: 920px) { ... }
  'lg': 1200px, // @media (min-width: 1200px) { ... }
  'xl': 1440px  // @media (min-width: 1440px) { ... }
);

// can be used for maximum screen size
$breakpoints-only: (
  'xs-only': 640px, // @media (max-width: 640px)
  'sm-only': 920px, // @media (max-width: 920px)
);

// Border-radius
$border-radius-sm:   4px !default;
$border-radius-md:   8px !default;
$border-radius-lg:   12px !default;
$border-radius-xl:   16px !default;

// Typography
$font-family-base:           system-ui, -apple-system, "Helvetica Neue", "Segoe UI", Roboto,  "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

// $font-size-base affects the font size of the body text
$font-size-root:              15px;
$font-size-base:              1rem !default; // Assumes the browser default size;
$font-size-sm:                0.875rem !default;
$font-size-lg:                1.25rem !default;
$font-size-sub-sup:           .75em !default;


$line-height-base:            1.5 !default;
$line-height-sm:              1.25 !default;
$line-height-lg:              2 !default;







