
// Breakpoint sizes to generate utility classes
$breakpoints: (
  // *** Device only breakpoints *** //
  'max-lg': 'max-width: 1200px', // Tablet and smaller
  'max-md': 'max-width: 920px',  // Large Mobile only
  'mobile': 'max-width: 640px',  // Mobile only

  // *** Classic breakpoints *** //
  'sm': 'min-width: 641px',  // not mobile, - small tablet and up
  'md': 'min-width: 921px', // medium and up - larger tablet and up
  'lg': 'min-width: 1201px', // large and up - desktop and any widescreen
);





