
// All Containers have left right padding
.container,
.container-fluid {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}


.container{ max-width:$container-width; } // max large screen 1440

// **** 
// Optional: to keep extra space around the container
@media (max-width: $container-width + 40px ){
  .container{ max-width: ($container-width - 100px); } // max large screen 1440
}
// ***

.row {
  --flex-gap-rows: 0px; // default gap // gap.scss file
  --flex-gap-cols: 20px; // default gap // gap.scss file
  gap:0!important; // css gap breaks flex column, it is good for css grid only
  row-gap:0!important; // css gap breaks flex column, it is good for css grid only
  column-gap: 0!important; // css gap breaks flex column, it is good for css grid only
  display: flex;
  flex-wrap: wrap;
  margin-left: calc( -0.5 * var(--flex-gap-cols));
  margin-right: calc( -0.5 * var(--flex-gap-cols));
  margin-top: calc(-1 * var(--flex-gap-rows));
}

.row > * { 
  flex: 0 0 auto;
  max-width: 100%;
  width: 100%;
  padding-right: calc(var(--flex-gap-cols)* 0.5);
  padding-left: calc(var(--flex-gap-cols)* 0.5);
  margin-top: var(--flex-gap-rows);
}

//////////// ROW COLS
.row-cols-auto > * {width: auto;}
.row-cols-1 > * { width: 100%; }
.row-cols-2 > * { width: 50%;}
.row-cols-3 > * { width: 33.33333333%; }
.row-cols-4 > * { width: 25%; }
.row-cols-5 > * { width: 20%; }
.row-cols-6 > * { width: 16.66666667%;}

// Generate responsive utility classes
// breakpoints can be changed from base-settings.scss
@each $breakpoint, $size in $breakpoints {

  @media ($size){
    // breakpoinst styles
    .#{$breakpoint}\:row-cols-auto > * { width: auto;}
    .#{$breakpoint}\:row-cols-1 > * {  width: 100%; }
    .#{$breakpoint}\:row-cols-2 > * {  width: 50%;}
    .#{$breakpoint}\:row-cols-3 > * {  width: 33.3333333333%; }
    .#{$breakpoint}\:row-cols-4 > * {  width: 25%; }
    .#{$breakpoint}\:row-cols-5 > * {  width: 20%; }
    .#{$breakpoint}\:row-cols-6 > * {  width: 16.6666666667%;}
    // end breakpoint
  }
}



//////////// ROW and COLS separately 
.col{ flex: 0 0 auto; }
.col-auto{width: auto;}
.col-1{width: 8.33333333%;}
.col-2{width: 16.66666667%;}
.col-3{width: 25%;}
.col-4{width: 33.33333333%;}
.col-5{width: 41.66666667%;}
.col-6{width: 50%;}
.col-7{width: 58.33333333%;}
.col-8{width: 66.66666667%;}
.col-9{width: 75%;}
.col-10{width: 83.33333333%;}
.col-11{width: 91.66666667%;}
.col-12{width: 100%;}

// Generate responsive utility classes
// breakpoints can be changed from base-settings.scss
@each $breakpoint, $size in $breakpoints {
  @media ($size){
    // breakpoinst styles
    .#{$breakpoint}\:col{ flex: 1 0 0%; }
    .#{$breakpoint}\:col-auto{width: auto;}
    .#{$breakpoint}\:col-1{width: 8.33333333%;}
    .#{$breakpoint}\:col-2{width: 16.66666667%;}
    .#{$breakpoint}\:col-3{width: 25%;}
    .#{$breakpoint}\:col-4{width: 33.33333333%;}
    .#{$breakpoint}\:col-5{width: 41.66666667%;}
    .#{$breakpoint}\:col-6{width: 50%;}
    .#{$breakpoint}\:col-7{width: 58.33333333%;}
    .#{$breakpoint}\:col-8{width: 66.66666667%;}
    .#{$breakpoint}\:col-9{width: 75%;}
    .#{$breakpoint}\:col-10{width: 83.33333333%;}
    .#{$breakpoint}\:col-11{width: 91.66666667%;}
    .#{$breakpoint}\:col-12{width: 100%;}
    // end breakpoint
  }
}



// CSS GRID
// Use gap utility with grid system (for ex: gap-20px)
.grid-template-cols-1{ grid-template-columns: repeat(1, minmax(0, 1fr)); }
.grid-template-cols-2{ grid-template-columns: repeat(2, minmax(0, 1fr)); }
.grid-template-cols-3{ grid-template-columns: repeat(3, minmax(0, 1fr)); }
.grid-template-cols-4{ grid-template-columns: repeat(4, minmax(0, 1fr)); }
.grid-template-cols-5{ grid-template-columns: repeat(5, minmax(0, 1fr)); }
.grid-template-cols-6{ grid-template-columns: repeat(6, minmax(0, 1fr)); }
.grid-template-cols-7{ grid-template-columns: repeat(7, minmax(0, 1fr)); }
.grid-template-cols-8{ grid-template-columns: repeat(8, minmax(0, 1fr)); }
.grid-template-cols-9{ grid-template-columns: repeat(9, minmax(0, 1fr)); }
.grid-template-cols-10{ grid-template-columns: repeat(10, minmax(0, 1fr)); }
.grid-template-cols-11{ grid-template-columns: repeat(11, minmax(0, 1fr)); }
.grid-template-cols-12{ grid-template-columns: repeat(12, minmax(0, 1fr)); }
.grid-template-cols-none{ grid-template-columns: none; }
.grid-template-cols-subgrid{ grid-template-columns: subgrid; }

.grid-col-auto{grid-column: auto;}
.grid-col-span-1{grid-column:auto/span 1;}
.grid-col-span-2{grid-column:auto/span 2;}
.grid-col-span-3{grid-column:auto/span 3;}
.grid-col-span-4{grid-column:auto/span 4;}
.grid-col-span-5{grid-column:auto/span 5;}
.grid-col-span-6{grid-column:auto/span 6;}
.grid-col-span-7{grid-column:auto/span 7;}
.grid-col-span-8{grid-column:auto/span 8;}
.grid-col-span-9{grid-column:auto/span 9;}
.grid-col-span-10{grid-column:auto/span 10;}
.grid-col-span-11{grid-column:auto/span 11;}
.grid-col-span-12{grid-column:auto/span 12;}
.grid-col-span-full{grid-column: 1 / -1;}

.grid-row-auto{grid-row: auto;}
.grid-row-span-1{grid-row:auto/span 1;}
.grid-row-span-2{grid-row:auto/span 2;}
.grid-row-span-3{grid-row:auto/span 3;}
.grid-row-span-4{grid-row:auto/span 4;}
.grid-row-span-5{grid-row:auto/span 5;}
.grid-row-span-6{grid-row:auto/span 6;}
.grid-row-span-7{grid-row:auto/span 7;}
.grid-row-span-8{grid-row:auto/span 8;}
.grid-row-span-9{grid-row:auto/span 9;}
.grid-row-span-10{grid-row:auto/span 10;}
.grid-row-span-11{grid-row:auto/span 11;}
.grid-row-span-12{grid-row:auto/span 12;}
.grid-row-span-full{grid-row: 1 / -1;}

// Generate responsive utility classes
// breakpoints can be changed from base-settings.scss
@each $breakpoint, $size in $breakpoints {
  @media ($size){
    
    // breakpoinst styles
    .#{$breakpoint}\:grid-template-cols-1{ grid-template-columns: repeat(1, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-2{ grid-template-columns: repeat(2, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-3{ grid-template-columns: repeat(3, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-4{ grid-template-columns: repeat(4, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-5{ grid-template-columns: repeat(5, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-6{ grid-template-columns: repeat(6, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-7{ grid-template-columns: repeat(7, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-8{ grid-template-columns: repeat(8, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-9{ grid-template-columns: repeat(9, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-10{ grid-template-columns: repeat(10, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-11{ grid-template-columns: repeat(11, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-12{ grid-template-columns: repeat(12, minmax(0, 1fr)); }
    .#{$breakpoint}\:grid-template-cols-none{ grid-template-columns: none; }
    .#{$breakpoint}\:grid-template-cols-subgrid{ grid-template-columns: subgrid; }

    .#{$breakpoint}\:grid-col-auto{grid-column: auto;}
    .#{$breakpoint}\:grid-col-span-1{grid-column:auto/span 1;}
    .#{$breakpoint}\:grid-col-span-2{grid-column:auto/span 2;}
    .#{$breakpoint}\:grid-col-span-3{grid-column:auto/span 3;}
    .#{$breakpoint}\:grid-col-span-4{grid-column:auto/span 4;}
    .#{$breakpoint}\:grid-col-span-5{grid-column:auto/span 5;}
    .#{$breakpoint}\:grid-col-span-6{grid-column:auto/span 6;}
    .#{$breakpoint}\:grid-col-span-7{grid-column:auto/span 7;}
    .#{$breakpoint}\:grid-col-span-8{grid-column:auto/span 8;}
    .#{$breakpoint}\:grid-col-span-9{grid-column:auto/span 9;}
    .#{$breakpoint}\:grid-col-span-10{grid-column:auto/span 10;}
    .#{$breakpoint}\:grid-col-span-11{grid-column:auto/span 11;}
    .#{$breakpoint}\:grid-col-span-12{grid-column:auto/span 12;}
    .#{$breakpoint}\:grid-col-span-full{grid-column: 1 / -1;}

    .#{$breakpoint}\grid-row-auto{grid-row: auto;}
    .#{$breakpoint}\grid-row-span-1{grid-row:auto/span 1;}
    .#{$breakpoint}\grid-row-span-2{grid-row:auto/span 2;}
    .#{$breakpoint}\grid-row-span-3{grid-row:auto/span 3;}
    .#{$breakpoint}\grid-row-span-4{grid-row:auto/span 4;}
    .#{$breakpoint}\grid-row-span-5{grid-row:auto/span 5;}
    .#{$breakpoint}\grid-row-span-6{grid-row:auto/span 6;}
    .#{$breakpoint}\grid-row-span-7{grid-row:auto/span 7;}
    .#{$breakpoint}\grid-row-span-8{grid-row:auto/span 8;}
    .#{$breakpoint}\grid-row-span-9{grid-row:auto/span 9;}
    .#{$breakpoint}\grid-row-span-10{grid-row:auto/span 10;}
    .#{$breakpoint}\grid-row-span-11{grid-row:auto/span 11;}
    .#{$breakpoint}\grid-row-span-12{grid-row:auto/span 12;}
    .#{$breakpoint}\grid-row-span-full{grid-row: 1 / -1;}

    // end breakpoint
  }
}