:root, [data-theme=light] {
  --black: #000;
  --white: #fff;
  --neutral-0: #fff;
  --neutral-50: #F6F7F9;
  --neutral-100: #EDF0F2;
  --neutral-200: #DCE0E5;
  --neutral-300: #CBD3DB;
  --neutral-400: #B6C1CA;
  --neutral-500: #929EAA;
  --neutral-600: #6F7C8E;
  --neutral-700: #525E6F;
  --neutral-800: #323C49;
  --neutral-900: #14181F;
  --neutral-1000: #000;

  --primary-100: #F0F7FF;
  --primary-200: #E0EDFF;
  --primary-300: #CCE0FF;
  --primary-400: #5261FE;
  --primary-500: #3348FF;
  --primary-600: #162DF3;
  --primary-700: #1C2EB0;

  --warning-100: #FFF6D1;
  --warning-200: #FFED9E;
  --warning-300: #FFDE66;
  --warning-400: #F58700;
  --warning-500: #DB6E00;
  --warning-600: #C76300;
  --warning-700: #81340E;

  --danger-100: #FFF0F1;
  --danger-200: #FFDEE0;
  --danger-300: #FFB4BF;
  --danger-400: #F31246;
  --danger-500: #DF0C3D;
  --danger-600: #CB0B38;
  --danger-700: #930B2F;

  --success-100: #DBFFE1;
  --success-200: #BEFEC7;
  --success-300: #93F2A2;
  --success-400: #00BD1F;
  --success-500: #00A81C;
  --success-600: #009419;
  --success-700: #0C6E1F;

  --feature-100: #F6EBFF;
  --feature-200: #F0DBFF;
  --feature-300: #EACCFF;
  --feature-400: #AC3DF5;
  --feature-500: #9F1FF4;
  --feature-600: #910BE9;
  --feature-700: #6D12A1;

  --info-100: #D4FCF3;
  --info-200: #B3F8EB;
  --info-300: #89EADB;
  --info-400: #00B8B8;
  --info-500: #00ABAB;
  --info-600: #009E9E;
  --info-700: #09726B;
 
  // alias variables for dark/light
  --bg-color-base: var(--neutral-0);
  --bg-color-secondary: var(--neutral-50);
  --bg-color-lower: var(--neutral-50);
  --bg-color-raised: var(--neutral-0);

  --border-color-light: var(--neutral-100);
  --border-color-base: var(--neutral-200);
  --border-color-strong: var(--neutral-400);

  --text-color-base: var(--neutral-900);
  --text-color-secondary: var(--neutral-700);
  --text-color-muted: var(--neutral-600);
  --text-color-invert: var(--neutral-0);
  --text-color-primary: var(--primary-500);
  --text-color-warning: var(--warning-500);
  --text-color-danger: var(--danger-500);
  --text-color-success: var(--success-500);
  --text-color-info: var(--info-500);
  
  // constant text colors (will not be changed on any theme)
  --text-color-black: #000;
  --text-color-white: #fff; 

}

[data-theme=dark] {
  --neutral-0: #000;
  --neutral-50: #131820;
  --neutral-100: #1F2633;
  --neutral-200: #27313F;
  --neutral-300: #3C4553;
  --neutral-400: #5F6976;
  --neutral-500: #8995A3;
  --neutral-600: #9EA9B5;
  --neutral-700: #B6BFC9;
  --neutral-800: #D3D8DF;
  --neutral-900: #EDEFF3;
  --neutral-1000: #fff;

  --primary-100: #091253;
  --primary-200: #0C186E;
  --primary-300: #1A30A1;
  --primary-400: #006BD6;
  --primary-500: #0078F0;
  --primary-600: #0F87FF;
  --primary-700: #33DDFF;

  --warning-100: #401A07;
  --warning-200: #4E2004;
  --warning-300: #662D00;
  --warning-400: #CC6900;
  --warning-500: #E07B00;
  --warning-600: #F58700;
  --warning-700: #FFBB33;

  --danger-100: #40071A;
  --danger-200: #57051F;
  --danger-300: #820627;
  --danger-400: #CB0B38;
  --danger-500: #DF0C3D;
  --danger-600: #F21246;
  --danger-700: #FF6680;

  --success-100: #052E0D;
  --success-200: #033A0E;
  --success-300: #025D14;
  --success-400: #009419;
  --success-500: #00A81C;
  --success-600: #00BD1F;
  --success-700: #6DF383;

  --feature-100: #320849;
  --feature-200: #46066B;
  --feature-300: #5A038C;
  --feature-400: #910BE9;
  --feature-500: #9F1FF4;
  --feature-600: #AC3DF5;
  --feature-700: #D799FF;

  --info-100: #052E2B;
  --info-200: #07403C;
  --info-300: #0C565A;
  --info-400: #009E9E;
  --info-500: #00ABAB;
  --info-600: #00B8B8;
  --info-700: #66DBD1;

  // background color slightly changes for dark 
  --bg-color-base: var(--neutral-50); 
  --bg-color-secondary: var(--neutral-50);
  --bg-color-lower: var(--neutral-0);
  --bg-color-raised: var(--neutral-100);

   // we override text color for dark due to accessibility
  --text-color-invert: var(--neutral-0);
  --text-color-primary: var(--primary-700);
  --text-color-warning: var(--warning-700);
  --text-color-danger: var(--danger-700);
  --text-color-success: var(--success-700);
  --text-color-info: var(--info-700);
}


/// Show/hide based on theme color
[data-theme=dark]{
	.dark\:d-none{display:none!important}
	.dark\:d-block{display:block!important}
}
