
// *********************************** //
// *********************************** //
////////// DEFAULT OR LIGHT THEME START ///

:root, [data-theme=light], .theme-light, [data-theme=static], .theme-static{

  // Generates a list of css variables for default-light mode
  // For ex --neutral-0:#fff; --neutral-200:#e2e8f0;
  @each $color, $shades in $colors_list {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }

  // Generates a static list of color variables for default-light mode
  // This will not be overridden in dark mode. It is used in some cases like _buttons.scss
  @each $color, $shades in $colors_list {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}-static: #{$value};
    }
  }

  // Genarate text colors with single shade (600), It is used in text-color.scss
  // Ex: --text-color-primary: var(--primary-600); --text-color-green: var(--green-600);
  @each $color, $shades in $colors_list {
    --text-color-#{$color}: var(--#{$color}-600);
  }

  // SEMANIC (ALIAS) COLOR VARIABLES FOR LIGHT-MODE
  --alpha-1: rgba(0,20,60,.06);
  --alpha-2: rgba(0,20,60,.10);
  --alpha-3: rgba(0,20,60,.15);
  --bg-color-base: #fff;
  --bg-color-secondary: var(--neutral-100);
  --bg-color-lower: var(--neutral-100);
  --bg-color-raised: #fff;
  --border-color-weak: var(--neutral-100);
  --border-color-default: var(--neutral-200);
  --border-color-strong: var(--neutral-400);
  --text-color-base: #000;
  --text-color-secondary: var(--neutral-500);
  --text-color-muted: var(--neutral-400);
  --text-color-invert: #fff;

  // GET TEXT AND BG COLORS FROM DEFAULT STYLE
  // This will help if some part of layout has .theme-dark classname
  color: var(--text-color-base);
  background-color: var(--bg-color-base);

}


// *********************************** //
// *********************************** //
////////// DARK THEME START ////////////

[data-theme=dark], .theme-dark {

  // Generates a list of css variables for dark theme
  // For ex --neutral-0:#000; --neutral-1000:#fff;
  @each $color, $shades in $colors_list_darkmode {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }
  
  // Genarate text colors with single shade (700). It is used in text-color.scss
  // Ex: --text-color-primary: var(--primary-700); --text-color-green: var(--green-700);
  @each $color, $shades in $colors_list_darkmode {
    --text-color-#{$color}: var(--#{$color}-700);
  }

  // SEMANIC (ALIAS) COLOR VARIABLES FOR DARK-MODE
  --alpha-1: rgba(255,255,255,.1);
  --alpha-2: rgba(255,255,255,.15);
  --alpha-3: rgba(255,255,255,.2);
  --bg-color-base: var(--neutral-50); 
  --bg-color-secondary: var(--neutral-100);
  --bg-color-lower: #000;
  --bg-color-raised: var(--neutral-200);
  --border-color-weak: var(--neutral-100);
  --border-color-default: var(--neutral-200);
  --border-color-strong: var(--neutral-400);
  --text-color-base: #fff;
  --text-color-secondary: var(--neutral-600);
  --text-color-muted: var(--neutral-400);
  --text-color-invert:#000;

  // GET DEFAULT TEXT AND BG COLORS FROM DARKMODE STYLE
  // This will help if some part of layout has .theme-static or .theme-light classname
  color: var(--text-color-base);
  background-color: var(--bg-color-base);

}



// *********************************** //
// *********************************** //
////////// OTHER SETTINGS ///
:root{
  
  // Border-radius css variables (can be changed in _base-settings.scss)
  // Or you can change values directly here
  --border-radius-sm:  #{$border-radius-sm};
  --border-radius-md:  #{$border-radius-md};
  --border-radius-lg:  #{$border-radius-lg};
  --border-radius-xl:  #{$border-radius-xl};
  --border-radius-base:  #{$border-radius-base};

  // Typography (can be changed in _base-settings.scss)
  // Or you can change values directly here
  --font-family-base: #{$font-family-base};

  --font-size-base:  #{$font-size-base};
  --font-size-sm:    #{$font-size-sm};

  --line-height-base:  #{$line-height-base};
  --line-height-sm:  #{$line-height-sm};
  --line-height-lg: #{$line-height-lg};

}