.border {
  border: 1px solid var(--neutral-200);
}

.border-0 {
  border: 0 !important;
}

.border-top {
  border-top: 1px solid var(--neutral-200) !important;
}

.border-top-0 {
  border-top: 0 !important;
}

.border-end {
  border-right: 1px solid var(--neutral-200) !important;
}

.border-end-0 {
  border-right: 0 !important;
}

.border-bottom {
  border-bottom: 1px solid var(--neutral-200) !important;
}

.border-bottom-0 {
  border-bottom: 0 !important;
}

.border-start {
  border-left: 1px solid var(--neutral-200) !important;
}

.border-start-0 {
  border-left: 0 !important;
}

.border-primary {
  --bs-border-opacity: 1;
  border-color: 1px solid var(--primary-500) !important;
}