

/// constant colors despite any theme
.text-black{ color:#000; }
.text-white{ color:#fff; }

/// theme based text color
.text-base{ color: var(--text-base); }
.text-secondary{ color: var(--text-base);  }
.text-muted{ color: var(--text-base);  }
.text-active, .text-primary{ color: var(--text-base); }
.text-warning{ color: var(--text-base); }
.text-danger{ color: var(--text-base); }
.text-success{ color: var(--text-base); }
.text-info{ color: var(--text-base); }
.text-invert{ color: var(--text-invert); }


/// text utility classes

.fw-light {
  font-weight: 300 !important;
}

.fw-normal {
  font-weight: 400 !important;
}

.fw-medium {
  font-weight: 500 !important;
}

.fw-semibold {
  font-weight: 600 !important;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-bolder {
  font-weight: bolder !important;
}

.lh-1 {
  line-height: 1 !important;
}

.lh-sm {
  line-height: 1.25 !important;
}

.lh-base {
  line-height: 1.5 !important;
}

.lh-lg {
  line-height: 2 !important;
}

.text-start {
  text-align: left !important;
}

.text-end {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-decoration-none {
  text-decoration: none !important;
}

.text-underline {
  text-decoration: underline !important;
}

.text-line-through {
  text-decoration: line-through !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-wrap {
  white-space: normal !important;
}

.text-nowrap {
  white-space: nowrap !important;
}