

/// theme based colors
.bg-base{
  background-color:var(--bg-color-base);
}

.bg-secondary{
  background-color:var(--bg-color-secondary);
}

.bg-lower{
  background-color:var(--bg-color-lower);
}

.bg-raised{
  background-color:var(--bg-color-raised);
}

.bg-white{
  background-color:var(--white);
}

.bg-black{
  background-color:var(--black);
}

.bg-dark{
  background-color:#14181F;
}


// generate classes for background ex. bg-primary-100, bg-neutral-900

$color_nums:100, 200, 300, 400, 500, 600, 700, 800, 900;

@each $num in $color_nums {
  .bg-neutral-#{$num} {
    background-color:var(--neutral-#{$num} );
  }
}

@each $num in $color_nums {
  .bg-primary-#{$num} {
    background-color:var(--primary-#{$num} );
  }
}

@each $num in $color_nums {
  .bg-success-#{$num} {
    background-color:var(--success-#{$num} );
  }
}

@each $num in $color_nums {
  .bg-danger-#{$num} {
    background-color:var(--danger-#{$num} );
  }
}

@each $num in $color_nums {
  .bg-warning-#{$num} {
    background-color:var(--warning-#{$num} );
  }
}

@each $num in $color_nums {
  .bg-feature-#{$num} {
    background-color:var(--feature-#{$num} );
  }
}

@each $num in $color_nums {
  .bg-info-#{$num} {
    background-color:var(--info-#{$num} );
  }
}