
// Define basic background colors
// Why? each color has shades like blue-100, blue-200, 
// So what shade to assign for classname like "bg-blue" or "bg-red"?
// We assign shade 500, class name: "bg-blue" = "bg-blue-500"

$colors_bg_main:(
  "base": var(--bg-color-base),
  "secondary": var(--bg-color-secondary),
  "lower": var(--bg-color-lower),
  "transparent": transparent,
  "inherit": inherit,
  "initial": initial,
  "white": #FFF,
  "dark": #000,
  "black": #000,
  "alpha-1": var(--alpha-1),
  "alpha-2": var(--alpha-2),
  "alpha-3": var(--alpha-3),
  "primary": map-get(map-get($colors_list, "primary"), "500"),
  "red": map-get(map-get($colors_list, "red"), "500"),
  "green": map-get(map-get($colors_list, "green"), "500"),
  "blue": map-get(map-get($colors_list, "blue"), "500"),
  "orange": map-get(map-get($colors_list, "orange"), "500"),
  "yellow": map-get(map-get($colors_list, "yellow"), "500"),
  "purple": map-get(map-get($colors_list, "purple"), "500"),
  "teal": map-get(map-get($colors_list, "teal"), "500")
);


@each $classname, $value in $colors_bg_main {
  .bg-#{$classname} { background-color: #{$value}; }
  .hover\:bg-#{$classname}:hover{ background-color: #{$value}; }
  .group:hover .group-hover\:bg-#{$classname}{ background-color: #{$value}; }
}


// Generate classes for background based on color list of theme.scss 
// Background for all color shades
@each $color, $shades in $colors_list {
  // Generate for each shade (100,200,300,... 900)
  // For ex. .bg-primary-100{ style } bg-primary-200{ style }
  @each $shade, $value in $shades {
    .bg-#{$color}-#{$shade} { background-color:var(--#{$color}-#{$shade});  }
    .hover\:bg-#{$color}-#{$shade}:hover { background-color:var(--#{$color}-#{$shade}) !important; }
    .group:hover .group-hover\:bg-#{$color}-#{$shade} { background-color:var(--#{$color}-#{$shade}) !important; }  
  }
}



// other helper utilities
.bg-size-cover{background-size: cover}
.bg-position-center{background-position: center;}
.bg-none{ background: none; }