
.bg-base{ background-color:var(--bg-color-base); }
.bg-inherit{ background-color: inherit; }
.bg-transparent{ background-color: transparent; }
.bg-secondary{ background-color:var(--bg-color-secondary);}
.bg-lower{ background-color:var(--bg-color-lower); }
.bg-raised{ background-color:var(--bg-color-raised);}
.bg-white{background-color:#fff;}
.bg-black{ background-color:#000;}
.bg-dark{background-color:#000;}



// generate classes for background ex. bg-primary-100 

@each $num, $value in $neutral_list {
  .bg-neutral-#{$num} { background-color:var(--neutral-#{$num});  }
  .hover\:bg-neutral-#{$num}:hover { background-color:var(--neutral-#{$num}); }
  .group:hover .group-hover\:bg-neutral-#{$num} { background-color:var(--neutral-#{$num}); }
}


@each $num, $value in $primary_list {
  .bg-primary-#{$num} { background-color:var(--primary-#{$num});  }
  .hover\:bg-primary-#{$num}:hover { background-color:var(--primary-#{$num}); }
  .group:hover .group-hover\:bg-primary-#{$num} { background-color:var(--primary-#{$num}); }
}

@each $num, $value in $blue_list {
  .bg-blue-#{$num} { background-color:var(--blue-#{$num});  }
  .hover\:bg-blue-#{$num}:hover { background-color:var(--blue-#{$num}); }
  .group:hover .group-hover\:bg-blue-#{$num} { background-color:var(--blue-#{$num}); }
}

@each $num, $value in $orange_list {
  .bg-orange-#{$num} { background-color:var(--orange-#{$num});  }
  .hover\:bg-orange-#{$num}:hover { background-color:var(--orange-#{$num}); }
  .group:hover .group-hover\:bg-orange-#{$num} { background-color:var(--orange-#{$num}); }
}

@each $num, $value in $red_list {
  .bg-red-#{$num} { background-color:var(--red-#{$num});  }
  .hover\:bg-red-#{$num}:hover { background-color:var(--red-#{$num}); }
  .group:hover .group-hover\:bg-red-#{$num} { background-color:var(--red-#{$num}); }
}

@each $num, $value in $green_list {
  .bg-green-#{$num} { background-color:var(--green-#{$num});  }
  .hover\:bg-green-#{$num}:hover { background-color:var(--green-#{$num}); }
  .group:hover .group-hover\:bg-green-#{$num} { background-color:var(--green-#{$num}); }
}

@each $num, $value in $yellow_list {
  .bg-yellow-#{$num} { background-color:var(--yellow-#{$num});  }
  .hover\:bg-yellow-#{$num}:hover { background-color:var(--yellow-#{$num}); }
  .group:hover .group-hover\:bg-yellow-#{$num} { background-color:var(--yellow-#{$num}); }
}

@each $num, $value in $purple_list {
  .bg-purple-#{$num} { background-color:var(--purple-#{$num});  }
  .hover\:bg-purple-#{$num}:hover { background-color:var(--purple-#{$num}); }
  .group:hover .group-hover\:bg-purple-#{$num} { background-color:var(--purple-#{$num}); }
}

@each $num, $value in $teal_list {
  .bg-teal-#{$num} { background-color:var(--teal-#{$num});  }
  .hover\:bg-teal-#{$num}:hover { background-color:var(--teal-#{$num}); }
  .group:hover .group-hover\:bg-teal-#{$num} { background-color:var(--teal-#{$num}); }
}
