
// Semantic names for borders
.border { border: 1px solid var(--border-color-default);}
.border-strong { border: 1px solid var(--border-color-strong);}
.border-weak { border: 1px solid var(--border-color-weak);}
.border-dark{ border: 1px solid #000; }
.border-black{ border: 1px solid #000; }
.border-white{ border: 1px solid #fff; }
.border-0 { border: 0; }
.border-none { border: none; }
.border-inherit{ border: inherit; }
.border-transparent{ border-color:transparent; }

.hover\:border-0:hover { border: 0 !important; }
.hover\:border-none:hover { border: none !important; }
.hover\:border-inherit:hover { border: inherit !important; }
.hover\:border-transparent:hover { border-color:transparent !important; }

.group:hover .group-hover\:border-0 { border: 0 !important; }
.group:hover .group-hover\:border-none { border: none !important; }
.group:hover .group-hover\:border-inherit{ border: inherit !important; }
.group:hover .group-hover\:border-transparent{ border-color:transparent !important; }

// Border style
.border-style-dashed{ border-style: dashed !important; }
.border-style-dotted{ border-style: dotted !important;  }
.border-style-solid{ border-style: solid !important;  }
.border-style-initial{ border-style: solid !important;  }

// Border thinckness 
.border-width-1 {border-width: 1px!important;}
.border-width-3 {border-width: 2px!important ;}
.border-width-4 {border-width: 3px!important ;}


// Generate classes for border colors based on color list in theme.scss 
@each $color, $shades in $colors_list {

  // Genarate border colors with only single shade: 500 (Easy to define colors)
  // For ex. .border-blue{ border:1px solid var(--blue-500) } 
  .border-#{$color} { border: 1px solid var(--#{$color}-500); }
  .hover\:border-#{$color}:hover { border: 1px solid var(--#{$color}-500) ; }
  .group:hover .group-hover\:border-#{$color} { border: 1px solid var(--#{$color}-500) ; }

  // Generate for each shade
  // For ex. .border-primary-100{ style } border-color-primary-200{ style }
  @each $shade, $value in $shades {
    .border-#{$color}-#{$shade} { border: 1px solid var(--#{$color}-#{$shade});  }
    .hover\:border-#{$color}-#{$shade}:hover { border: 1px solid var(--#{$color}-#{$shade}); }
    .group:hover .group-hover\:border-#{$color}-#{$shade} { border: 1px solid var(--#{$color}-#{$shade}); }
  }
}



// Border for specific side of element
// For ex border-top, border-left, border-bottom, border-right
.border-top { border-top: 1px solid var(--border-color-default); }
.border-top-0 { border-top: 0 !important; }
.border-right { border-right: 1px solid var(--border-color-default);}
.border-right-0 {border-right: 0 !important;}
.border-bottom {border-bottom: 1px solid var(--border-color-default);}
.border-bottom-0 {border-bottom: 0 !important;}
.border-left {border-left: 1px solid var(--border-color-default);}
.border-left-0 {border-left: 0 !important;}

// Generate responsive utility classes
// breakpoints can be changed from base-settings.scss
@each $breakpoint, $screen_size in $breakpoints {
  @media ($screen_size){
    // breakpoinst styles
    .#{$breakpoint}\:border-top { border-top: 1px solid var(--border-color-default); }
    .#{$breakpoint}\:border-top-0 { border-top: 0 !important; }
    .#{$breakpoint}\:border-right { border-right: 1px solid var(--border-color-default);}
    .#{$breakpoint}\:border-right-0 {border-right: 0 !important;}
    .#{$breakpoint}\:border-bottom {border-bottom: 1px solid var(--border-color-default);}
    .#{$breakpoint}\:border-bottom-0 {border-bottom: 0 !important;}
    .#{$breakpoint}\:border-left {border-left: 1px solid var(--border-color-default);}
    .#{$breakpoint}\:border-left-0 {border-left: 0 !important;}
    // end breakpoint
  }
}