// Border-radius varibales are defined on file: _base-settings.scss

.rounded-0 { border-radius: 0;}
.rounded{ border-radius: $border-radius-md; }

.rounded-sm{border-radius: $border-radius-sm;}
.rounded-md {border-radius: $border-radius-md;}
.rounded-lg {border-radius: $border-radius-lg;}
.rounded-xl {border-radius: $border-radius-xl;}
.rounded-full { border-radius: 400px; }
.rounded-circle, { border-radius: 50%; }


.rounded-top {
  border-top-left-radius: $border-radius-md !important;
  border-top-right-radius: $border-radius-md !important;
}
.rounded-bottom {
  border-bottom-right-radius: $border-radius-md !important;
  border-bottom-left-radius: $border-radius-md !important;
}
.rounded-left {
  border-top-left-radius: $border-radius-md !important;
  border-bottom-left-radius: $border-radius-md !important;
}
.rounded-right{
  border-bottom-right-radius: $border-radius-md !important;
  border-top-right-radius: $border-radius-md !important;
}

.rounded-top-0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.rounded-bottom-0 {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.rounded-left-0 {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.rounded-right-0 {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
