.float-start{float: inline-start;}
.float-end{float: inline-end;}
.float-right{float: right;}
.float-left{float: left;}
.float-none{float: none;}

$abc: true;

// Generate responsive utility classes
// breakpoints can be changed from base-settings.scss


@each $breakpoint, $size in $breakpoints {

  $media_type: min-width !default;
  
  @if ($breakpoint == 'max-lg' or $breakpoint == 'max-md' or $breakpoint == 'max-sm'){ 
    $media_type: 'max-width';
  }

  @media ( $media_type: #{$size}){
    // breakpoinst styles
    .#{$breakpoint}\:float-start{float: inline-start;}
    .#{$breakpoint}\:float-end{float: inline-end;}
    .#{$breakpoint}\:float-right{float: right;}
    .#{$breakpoint}\:float-left{float: left;}
    .#{$breakpoint}\:float-none{float: none;}
    // end breakpoint
  }
}

