$gap_map:(
  "0": 0,
  "1": 4px,
  "2": 8px,
  "3": 12px,
  "4": 16px,
  "5": 20px,
  "6": 24px,
  "7": 28px,
  "8": 32px,
  "9": 36px,
  "10": 40px
);


@each $name, $value in $gap_map {
  .gap-#{$name} { gap: #{$value}; --flex-gap-rows:#{$value}; --flex-gap-cols:#{$value};  }
  .gap-rows-#{$name} {  row-gap: #{$value}; --flex-gap-rows:#{$value}; }
  .gap-cols-#{$name} { column-gap: #{$value}; --flex-gap-cols:#{$value}; }
}

// Generate responsive utility classes
// breakpoints can be changed from breakpoint-config.scss
@each $breakpoint, $screen_size in $breakpoints {

  @media ($screen_size){
    @each $name, $value in $gap_map {
      .#{$breakpoint}\:gap-#{$name} { gap: #{$value}; --flex-gap-rows:#{$value}; --flex-gap-cols:#{$value}; }
      .#{$breakpoint}\:gap-rows-#{$name} {  row-gap: #{$value}; --flex-gap-rows:#{$value}; }
      .#{$breakpoint}\:gap-cols-#{$name} { column-gap: #{$value}; --flex-gap-cols:#{$value}; }
    }
   // end breakpoint  
  }
}
