


.list-style-initial{ list-style-type: initial; }
.list-style-disc{ list-style-type: disc; }
.list-style-like{ list-style-type: "\1F44D"; }
.list-style-number{ list-style-type: decimal; }
.list-postion-inside{ list-style-position: inside; }
.list-postion-outside{ list-style-position: outside; }

.list-number{
  list-style-type: decimal;
  list-style-position: outside;
  margin-left: 20px;
  > li { position:relative; margin-bottom:0.5rem;  }
}

// Use any symbol from 
// https://www.toptal.com/designers/htmlarrows/symbols/
// https://www.w3schools.com/cssref/css_entities.php

.list-bullet{
  list-style: none; margin-left:0; padding-left:0; margin-top:0.6rem;
  > li{ padding-left:1.6em;  position:relative; margin-bottom:0.6rem;  }
  > li::before { 
      content: "\25CF";
      color:var(--primary-500, #04b4a0);
      font-size: 0.8em;
      position:absolute;
      margin-top:0.25em;
      left:0;  
      top:0;
  }
}


.list-check{
  list-style: none; margin-left:0; padding-left:0; margin-top:0.6rem;
  > li{ padding-left:1.6em; position:relative; margin-bottom:0.6rem;  }
  > li::before {
      content: "\2713";
  	  color:var(--primary-500, #04b4a0);
      font-weight: bold;
      position:absolute;
      left:0;  
      top:0;
	}
}

