.list-bullet{
  list-style: none; margin-left:0; padding-left:0;  
  li{ padding-left:20px;  position:relative; margin-bottom:0.5rem; }
  li::before { 
      content: " ";
      position:absolute;  
      top:14px;
      transform:translateY(-40%);  
      left:0;
      width: 8px; 
      height: 8px;
      background:#666;  
      border-radius:100%;
  }
}

.list-check{
  list-style: none; margin-left:0; padding-left:0;  
  > li{ padding-left:24px; position:relative; margin-bottom:0.5rem;  }
  > li::before {
  	  font-weight:bold;
  	  color:green;
      content: "\2713";
      position:absolute;  
      top:50%;
      transform:translateY(-50%);  
      left:0;
	}
}

.list-inline{
  li{ display:inline-block; margin-left:1rem;}
}