$margin_map: (
  "unset": unset,
  "initial": initial,
  "auto": auto,
  "0": 0,
  "1": 4px,
  "2": 8px,
  "3": 12px,
  "4": 16px,
  "5": 20px,
  "6": 24px,
  "7": 28px,
  "8": 32px,
  "9": 36px,
  "10": 40px,
  "11": 44px,
  "12": 48px,
  "14": 56px,
  "16": 64px,
  "18": 72px,
  "20": 80px,
  "25": 100px,
  "30": 120px,
  "35": 140px,
  "40": 160px,
  "45": 180px,
  "50": 200px,
  "55": 220px,
  "60": 240px,
  "65": 260px,
  "70": 280px,
  "75": 300px,
  "80": 320px,
  "85": 340px,
  "90": 360px,
  "95": 380px,
  "100": 400px,
);


// * Generates sizes in px, for ex:
// .mt-2{margin:8px}  .mt-10{margin-top:40px} 
// @each written for every utility individually by intention. There is a reason for it 
@each $name, $value in $margin_map {
  .m-#{$name} { margin: #{$value}!important; }
}
@each $name, $value in $margin_map {
  .my-#{$name} { margin-top: #{$value}!important; margin-bottom: #{$value}!important; }
}
@each $name, $value in $margin_map {
  .mx-#{$name} { margin-left: #{$value}!important; margin-right: #{$value}!important; }
}
@each $name, $value in $margin_map {
  .mt-#{$name} { margin-top: #{$value}!important; }
}
@each $name, $value in $margin_map {
  .mb-#{$name} { margin-bottom: #{$value}!important; }
}
@each $name, $value in $margin_map {
  .mr-#{$name} { margin-right: #{$value}!important; }
}
@each $name, $value in $margin_map {
  .ml-#{$name} { margin-left: #{$value}!important; }
}

// Generate responsive utility classes
// breakpoints can be changed from breakpoint-config.scss


@each $breakpoint, $screen_size in $breakpoints {
  @media ($screen_size){
    // breakpoinst styles
    @each $name, $value in $margin_map {
      .#{$breakpoint}\:m-#{$name} {  margin: #{$value}!important; }
    }
    @each $name, $value in $margin_map {
      .#{$breakpoint}\:my-#{$name} {  margin-top: #{$value}!important; margin-bottom: #{$value}!important;  }
    }
    @each $name, $value in $margin_map {
      .#{$breakpoint}\:mx-#{$name} {  margin-left: #{$value}!important; margin-right: #{$value}!important;  }
    }
    @each $name, $value in $margin_map {
      .#{$breakpoint}\:mt-#{$name} {  margin-top: #{$value}!important; }
    }
    @each $name, $value in $margin_map {
      .#{$breakpoint}\:mb-#{$name} { margin-bottom: #{$value}!important;  }
    }
    @each $name, $value in $margin_map {
      .#{$breakpoint}\:mr-#{$name} { margin-right: #{$value}!important; }
    }
    @each $name, $value in $margin_map {
      .#{$breakpoint}\:ml-#{$name} { margin-left: #{$value}!important; }
    }
  }
   // end breakpoint
}