
.object-fit-contain {object-fit: contain;}
.object-fit-cover { object-fit: cover; }
.object-fit-fill { object-fit: fill; }
.object-fit-scale { object-fit: scale-down;}
.object-fit-none { object-fit: none;}