.static { position: static;}
.relative { position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.sticky {position: sticky;}

.top-0{top: 0;}
.bottom-0{bottom: 0;}
.right-0{right: 0;}
.left-0{left: 0;}

.top-50{top: 50%;}
.bottom-50{bottom: 50%;}
.right-50{right: 50%;}
.left-50{left: 50%;}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

.sticky-top {
  position: sticky;
  top: 0;
  z-index: 1020;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 1020;
}

.align-baseline {vertical-align: baseline;}
.align-top {vertical-align: top;}
.align-middle {vertical-align: middle;}
.align-bottom {vertical-align: bottom;}
.align-text-bottom {vertical-align: text-bottom;}
.align-text-top {vertical-align: text-top;}
.align-sub {vertical-align: sub;}
.align-super {vertical-align: super;}


.translate-xy-50{ transform: translate(50%, 50%)!important;}
.translate-x-50 { transform: translateX(50%)!important;}
.translate-y-50 {  transform: translateY(50%)!important;}
.-translate-xy-50{ transform: translate(-50%, -50%)!important;}
.-translate-x-50 { transform: translateX(-50%)!important;}
.-translate-y-50 {  transform: translateY(-50%)!important;}

.center-y{  top:50%; transform: translateY(-50%)!important;}
.center-x{ left:50%; transform: translateX(-50%)!important;}
.center-xy{ top:50%; left:50%; transform: translateY(-50%)!important; transform: translateX(-50%)!important;}