$size_map: (
  "unset": unset,
  "initial": initial,
  "auto": auto,
  "0": 0,
  "1": 4px,
  "2": 8px,
  "3": 12px,
  "4": 16px,
  "5": 20px,
  "6": 24px,
  "7": 28px,
  "8": 32px,
  "9": 36px,
  "10": 40px,
  "11": 44px,
  "12": 48px,
  "14": 56px,
  "16": 64px,
  "18": 72px,
  "20": 80px,
  "25": 100px,
  "30": 120px,
  "35": 140px,
  "40": 160px,
  "45": 180px,
  "50": 200px,
  "55": 220px,
  "60": 240px,
  "65": 260px,
  "70": 280px,
  "75": 300px,
  "80": 320px,
  "85": 340px,
  "90": 360px,
  "95": 380px,
  "100": 400px,
  "full": 100%,
);

$size_map_percent:(
  "10": 10%,
  "15": 15%,
  "20": 20%,
  "25": 25%,
  "30": 30%,
  "35": 35%,
  "40": 40%,
  "45": 45%,
  "50": 50%,
  "55": 55%,
  "60": 60%,
  "65": 65%,
  "70": 70%,
  "75": 75%,
  "80": 80%,
  "85": 85%,
  "90": 90%,
  "95": 95%,
  "100": 100%,
);

$size_map_vw:(
  "10": 10vw,
  "20": 20vw,
  "30": 30vw,
  "40": 40vw,
  "50": 50vw,
  "60": 60vw,
  "70": 70vw,
  "80": 80vw,
  "90": 90vw,
  "100": 100vw,
);

$size_map_vh:(
  "10": 10vh,
  "20": 20vh,
  "30": 30vh,
  "40": 40vh,
  "50": 50vh,
  "60": 60vh,
  "70": 70vh,
  "80": 80vh,
  "90": 90vh,
  "100": 100vh,
);


// Generate custom size based on inline css variable
// Ex: <div class="w-custom" style="--w:700px">
.w-custom{width:var(--w, initial) }
.h-custom{height:var(--h, initial) }
.min-w-custom{min-width:var(--min-w, initial) }
.max-w-custom{max-width:var(--max-w, initial) }


// * Generates sizes in px, for ex:
// .w-1{width:4px}
@each $name, $value in $size_map {
  .w-#{$name} { width: #{$value}; }
  .h-#{$name} { height: #{$value};  }
  .min-w-#{$name} { min-width: #{$value}; }
  .max-w-#{$name} { max-width: #{$value}; }  
  .min-h-#{$name} {  min-height: #{$value};  }
  .max-h-#{$name} {  max-height: #{$value};  }
}

// * Generates sizes in % percent:
// .w-10%{width:10%}
@each $name, $value in $size_map_percent {
  .w-#{$name}\% { width: #{$value}; }
  .h-#{$name}\% { height: #{$value}; }
  .min-w-#{$name}\% { min-width: #{$value}; }
  .max-w-#{$name}\% { max-width: #{$value}; }
  .min-h-#{$name}\% { min-height: #{$value}; }
  .max-h-#{$name}\% { max-height: #{$value}; }
}

// * Generates sizes in vw Vewport-width:
// .w-10vw{width:10vw}
@each $name, $value in $size_map_vw {
  .w-#{$name}vw { width: #{$value}; }
  .min-w-#{$name}vw { min-width: #{$value}; }
  .max-w-#{$name}vw { max-width: #{$value}; }
}

// * Generates sizes in vh Vewport-height:
// .w-10vh{width:10vh}
@each $name, $value in $size_map_vh {
  .h-#{$name}vh { height: #{$value}; }
  .min-h-#{$name}vh { min-height: #{$value}; }
  .max-h-#{$name}vh { max-height: #{$value}; }
}


// Generate responsive utility classes
// breakpoints can be changed from breakpoint-config.scss
@each $breakpoint, $screen_size in $breakpoints {
  
  @media ($screen_size){
    
    // breakpoinst styles
    @each $name, $value in $size_map {
      .#{$breakpoint}\:w-#{$name} { width: #{$value}!important; }
      .#{$breakpoint}\:h-#{$name} { height: #{$value}!important; }
      .#{$breakpoint}\:min-w-#{$name} {  min-width: #{$value}!important; }
      .#{$breakpoint}\:max-w-#{$name} {  max-width: #{$value}!important; }
      .#{$breakpoint}\:min-h-#{$name} {  min-height: #{$value}!important;  }
      .#{$breakpoint}\:max-h-#{$name} {  max-height: #{$value}!important;  }
    }

    @each $name, $value in $size_map_percent {
      .#{$breakpoint}\:w-#{$name}\% { width: #{$value}!important; }
      .#{$breakpoint}\:h-#{$name}\% { height: #{$value}!important; }
      .#{$breakpoint}\:min-w-#{$name}\% { min-width: #{$value}!important; }
      .#{$breakpoint}\:max-w-#{$name}\% { max-width: #{$value}!important; }
      .#{$breakpoint}\:min-h-#{$name}\% { min-height: #{$value}!important; }
      .#{$breakpoint}\:max-h-#{$name}\% { max-height: #{$value}!important; }
    }

    @each $name, $value in $size_map_vw {
      .#{$breakpoint}\:w-#{$name}vw { width: #{$value}; }
      .#{$breakpoint}\:min-w-#{$name}vw { min-width: #{$value}; }
      .#{$breakpoint}\:max-w-#{$name}vw { max-width: #{$value}; }
    }

    @each $name, $value in $size_map_vh {
      .#{$breakpoint}\:h-#{$name}vh { height: #{$value}; }
      .#{$breakpoint}\:min-h-#{$name}vh { min-height: #{$value}; }
      .#{$breakpoint}\:max-h-#{$name}vh { max-height: #{$value}; }
    }

    // end breakpoint
  }
}

