
/// theme based text color
.text-base{ color: var(--text-color-base); }
.text-secondary{ color: var(--text-color-secondary);  }
.text-muted{ color: var(--text-color-muted);  }
.text-active{ color: var(--text-color-primary); }
.text-primary{ color: var(--text-color-primary); }
.text-warning{ color: var(--text-color-warning); }
.text-danger{ color: var(--text-color-danger); }
.text-success{ color: var(--text-color-success); }
.text-info{ color: var(--text-color-info); }
.text-invert{ color: var(--text-color-invert); }
.text-black{ color:#000; }
.text-dark{ color:#000; }
.text-white{ color:#fff; }


//// hover 

// hover on element
.hover\:text-base:hover { color: var(--text-color-base); }
.hover\:text-secondary:hover { color: var(--text-color-secondary);  }
.hover\:text-muted:hover { color: var(--text-color-muted);  }
.hover\:text-active:hover { color: var(--text-color-primary); }
.hover\:text-primary:hover { color: var(--text-color-primary); }
.hover\:text-warning:hover { color: var(--text-color-warning); }
.hover\:text-danger:hover { color: var(--text-color-danger); }
.hover\:text-success:hover { color: var(--text-color-success); }
.hover\:text-info:hover { color: var(--text-color-info); }
.hover\:text-invert:hover { color: var(--text-color-invert); }
.hover\:text-black:hover { color:#000; }
.hover\:text-dark:hover { color:#000; }
.hover\:text-white:hover { color:#fff; }

// group hover (parent hover)
.group:hover .group-hover\:text-base{ color: var(--text-color-base); }
.group:hover .group-hover\:text-secondary{ color: var(--text-color-secondary);  }
.group:hover .group-hover\:text-muted{ color: var(--text-color-muted);  }
.group:hover .group-hover\:text-active{ color: var(--text-color-primary); }
.group:hover .group-hover\:text-primary{ color: var(--text-color-primary); }
.group:hover .group-hover\:text-warning{ color: var(--text-color-warning); }
.group:hover .group-hover\:text-danger{ color: var(--text-color-danger); }
.group:hover .group-hover\:text-success{ color: var(--text-color-success); }
.group:hover .group-hover\:text-info{ color: var(--text-color-info); }
.group:hover .group-hover\:text-invert{ color: var(--text-color-invert); }
.group:hover .group-hover\:text-black{ color:#000; }
.group:hover .group-hover\:text-dark{ color:#000; }
.group:hover .group-hover\:text-white{ color:#fff; }


/// text utility classes
.font-light {  font-weight: 300!important;}
.font-normal {font-weight: 400!important;}
.font-medium { font-weight: 500!important; }
.font-semibold { font-weight: 600!important;}
.font-bold { font-weight: 700!important; }
.font-bolder { font-weight: bolder!important;}

.text-wrap { text-wrap: wrap!important; }
.text-balance{ text-wrap: balance!important; }
.text-pretty { text-wrap: pretty!important; } 

.text-decoration-none { text-decoration: none!important; }
.text-underline { text-decoration: underline!important; }
.text-line-through { text-decoration: line-through!important; }
.text-lowercase { text-transform: lowercase!important; }
.text-uppercase { text-transform: uppercase!important;}
.text-capitalize { text-transform: capitalize!important;}
.text-wrap {white-space: normal!important;}
.text-nowrap { white-space: nowrap!important; text-wrap: nowrap!important; }
.text-truncate{text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/// line height
.lh-1{ line-height:1; }
.lh-sm{ line-height:1.125; }
.lh-base{ line-height:1.5; }
.lh-lg{ line-height:1.8; }


/// text-position
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center { text-align: center;}

// Generate responsive utility classes
// breakpoints can be changed from base-settings.scss
@each $breakpoint, $size in $breakpoints {
  @media (min-width: #{$size}){
    
    .#{$breakpoint}\:text-left {text-align: left;}
    .#{$breakpoint}\:text-right {text-align: right;}
    .#{$breakpoint}\:text-center { text-align: center;}

    // end breakpoint
  }
}

.article-wrap{
  h1,h2,h3,h4,h5,h6{ margin-bottom: 0.6rem; margin-top:1.8rem}
  p{ margin-bottom:0.8rem}
}