// Typography
//
// 1. Remove top margins from headings
//    By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
//    margin for easier control within type scales as it avoids margin collapsing.

h1,h2,h3,h4,h5,h6 {
  margin-top: 0; // 1
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-style: $headings-font-style;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
}


.text-lg{ font-size:1.2rem}

.article{ 
  line-height:1.5;
  p{ margin-bottom:1rem}
}


// Type display classes
// scss-docs-start display-headings
$font-sizes-list: (
  xs: 0.7rem,
  sm: 0.9rem,
  base: 1rem,
  lg: 1.12rem,
  xl: 1.3rem,
  2xl: 1.5rem,
  3xl: 1.8rem,
  4xl: 2.2rem,
  5xl: 3rem,
  6xl: 3.75rem,
  7xl: 4.5rem,
  8xl: 6rem,
  9xl: 8rem,
) !default;

@each $name, $font-size in $font-sizes-list {
  .text-#{$name} {
    font-size: $font-size;
  }
}

// Generate responsive utility classes
// breakpoints can be changed from base-settings.scss
@each $breakpoint, $size in $breakpoints {
  @media (min-width: #{$size}){
    // breakpoinst styles
    @each $name, $font-size in $font-sizes-list {
      .#{$breakpoint}\:text-#{$name} {
        font-size: $font-size;
      }
    }
    // end breakpoint
  }
}




/// theme based text color
.text-base{ color: var(--text-color-base); }
.text-secondary{ color: var(--text-color-secondary);  }
.text-muted{ color: var(--text-color-muted);  }
.text-active, .text-primary{ color: var(--text-color-primary); }
.text-warning{ color: var(--text-color-warning); }
.text-danger{ color: var(--text-color-danger); }
.text-success{ color: var(--text-color-success); }
.text-info{ color: var(--text-color-info); }
.text-invert{ color: var(--text-color-invert); }
/// constant colors despite any theme
.text-black, .text-dark{ color:#000; }
.text-white, { color:#fff; }

/// text utility classes
.font-light {  font-weight: 300;}
.font-normal {font-weight: 400;}
.font-medium { font-weight: 500; }
.font-semibold { font-weight: 600;}
.font-bold { font-weight: 700; }
.font-bolder { font-weight: bolder;}

.lh-1 { line-height:1;}
.lh-sm {line-height: 1.25;}
.lh-base { line-height: 1.5;}
.lh-lg { line-height: 2;}

.text-start {text-align: left;}
.text-end {text-align: right;}
.text-center { text-align: center;}

.text-decoration-none { text-decoration: none; }
.text-underline { text-decoration: underline; }
.text-line-through { text-decoration: line-through; }
.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase;}
.text-capitalize { text-transform: capitalize;}
.text-wrap {white-space: normal;}
.text-nowrap { white-space: nowrap;}