/// Font style utility classes
.fw-light {  font-weight: 300!important;}
.fw-normal {font-weight: 400!important;}
.fw-medium { font-weight: 500!important; }
.fw-semibold { font-weight: 600!important;}
.fw-bold { font-weight: 700!important; }
.fw-bolder { font-weight: bolder!important;}

.font-italic {font-style: italic;}
.font-normal {font-style: normal;}

.text-wrap { text-wrap: wrap!important; }
.text-balance{ text-wrap: balance!important; }
.text-pretty { text-wrap: pretty!important; } 

.text-decoration-none { text-decoration: none!important; }
.text-underline { text-decoration: underline!important; }
.text-line-through { text-decoration: line-through!important; }
.text-lowercase { text-transform: lowercase!important; }
.text-uppercase { text-transform: uppercase!important;}
.text-capitalize { text-transform: capitalize!important;}
.text-wrap {white-space: normal!important;}
.text-nowrap { white-space: nowrap!important; text-wrap: nowrap!important; }
.text-truncate{text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/// line height
.lh-1{ line-height:1; }
.lh-sm{ line-height: $line-height-sm; }
.lh-base{ line-height: $line-height-base; }
.lh-lg{ line-height: $line-height-lg; }

// Article or long texts
.article-wrap{
  line-height: 1.6;
  p{ margin-bottom: 12px; margin-top:12px; }
}

/// text-position
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center { text-align: center;}


// Generate responsive utility classes
// breakpoints can be changed from base-settings.scss
@each $breakpoint, $screen_size in $breakpoints {
  
  @media ($screen_size){
    
    .#{$breakpoint}\:text-left {text-align: left!important;}
    .#{$breakpoint}\:text-right {text-align: right!important;}
    .#{$breakpoint}\:text-center { text-align: center!important;}

    // end breakpoint
  }
}


