
//  Semantic names for colors: property
/// To change colors of text go to _root-variables.scss 
.text-base{ color: var(--text-color-base); }
.text-secondary{ color: var(--text-color-secondary); }
.text-muted{ color: var(--text-color-muted);  }
.text-invert{ color: var(--text-color-invert); }
.text-dark{ color:#000; }
.text-black{ color:#000; }
.text-white{ color:#fff; }
.text-color-inherit{ color:inherit; }

.hover\:text-base:hover{ color: var(--text-color-base); }
.hover\:text-secondary:hover{ color: var(--text-color-secondary); }
.hover\:text-muted:hover{ color: var(--text-color-muted);  }
.hover\:text-invert:hover{ color: var(--text-color-invert); }
.hover\:text-dark:hover{ color:#000; }
.hover\:text-black:hover{ color:#000; }
.hover\:text-white:hover{ color:#fff; }
.hover\:text-color-inherit{ color:inherit; }

.group:hover .group-hover\:text-base{ color: var(--text-color-base); }
.group:hover .group-hover\:text-secondary{ color: var(--text-color-secondary); }
.group:hover .group-hover\:text-muted{ color: var(--text-color-muted);  }
.group:hover .group-hover\:text-invert{ color: var(--text-color-invert); }
.group:hover .group-hover\:text-dark{ color:#000; }
.group:hover .group-hover\:text-black{ color:#000; }
.group:hover .group-hover\:text-white{ color:#fff; }
.group:hover .group-hover\:text-color-inherit{ color:inherit; }

// Generate classes for text colors based on color list in theme.scss 
@each $color, $shades in $colors_list {

  // Genarate text colors with only single shade: 600 lightmode / 700 darkmode 
  // For ex. .text-primary{ color:var(--text-color-primary) } .text-red{ color:var(--text-color-red) }
  .text-#{$color} { color: var(--text-color-#{$color}) !important };
  .hover\:text-#{$color}:hover { color:var(--text-color-#{$color}) !important; }
  .group:hover .group-hover\:text-#{$color} { color:var(--text-color-#{$color}) !important; }

  // Generate for each shade (100,200,300,... 900)
  // For ex. .text-primary-100{ style } text-primary-200{ style }
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} { color:var(--#{$color}-#{$shade}) !important;  }
    .hover\:text-#{$color}-#{$shade}:hover { color:var(--#{$color}-#{$shade}) !important; }
    .group:hover .group-hover\:text-#{$color}-#{$shade} { color:var(--#{$color}-#{$shade}) !important; }
  }

}


