// Typograph: Font, Color and Sizes
//

h1,h2,h3,h4,h5,h6 {
  margin: 0; 
  font-family: inherit;
  font-weight: 600;
  line-height: 1.25;
}

h6{ font-size: 1rem;}
h5{ font-size: 1.12rem;}
h4{ font-size: 1.5rem;}
h3{ font-size: 1.8rem;}
h2{ font-size: 2.2rem;}
h1{ font-size: 3rem;}

// Type display classes
$font-sizes-list: (
  xs: 0.8rem,
  sm: 0.9rem,
  default: 1rem,
  lg: 1.12rem,
  xl: 1.3rem,
  2xl: 1.5rem,
  3xl: 1.8rem,
  4xl: 2.2rem,
  5xl: 2.8rem,
  6xl: 3.4rem,
  7xl: 4rem,
  8xl: 5rem,
  9xl: 6rem,
) !default;

// Generate classlist Ex. text-3xl, text-sm, text-base
@each $name, $font-size in $font-sizes-list {
  .text-#{$name} {
    font-size: $font-size;
  }
}

// Generate responsive utility classes
// breakpoints can be changed from base-settings.scss
@each $breakpoint, $screen_size in $breakpoints {
  
  @media ($screen_size){
    // breakpoinst styles
    @each $name, $font-size in $font-sizes-list {
      .#{$breakpoint}\:text-#{$name} {
        font-size: $font-size !important;
      }
    }
    // end breakpoint
  }
}

