/// Font style utility classes
.font-light, .font-300 {  font-weight: 300!important;}
.font-normal, .font-400 {font-weight: 400!important;}
.font-medium, .font-500 { font-weight: 500!important; }
.font-semibold, .font-600 { font-weight: 600!important;}
.font-bold, .font-700 { font-weight: 700!important; }
.font-bolder, .font-800 { font-weight: bolder!important;}

.font-style-italic {font-style: italic;}
.font-style-normal {font-style: normal;}

.text-wrap { text-wrap: wrap!important; }
.text-balance{ text-wrap: balance!important; }
.text-pretty { text-wrap: pretty!important; } 

.text-decoration-none { text-decoration: none!important; }
.text-underline { text-decoration: underline!important; }
.text-line-through { text-decoration: line-through!important; }
.text-lowercase { text-transform: lowercase!important; }
.text-uppercase { text-transform: uppercase!important;}
.text-capitalize { text-transform: capitalize!important;}
.text-wrap {white-space: normal!important;}
.text-nowrap { white-space: nowrap!important; text-wrap: nowrap!important; }
.text-truncate{text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

/// line height
.lh-1{ line-height:1; }
.lh-base{ line-height: var(--line-height-base, 1.4); }
.lh-sm{ line-height: var(--line-height-sm, 1.25); }
.lh-lg{ line-height: var(--line-height-lg, 1.8); }

/// text-position
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center { text-align: center;}


// Generate responsive utility classes
// breakpoints can be changed from breakpoint-config.scss
@each $breakpoint, $screen_size in $breakpoints {
  
  @media ($screen_size){
    
    .#{$breakpoint}\:text-left {text-align: left!important;}
    .#{$breakpoint}\:text-right {text-align: right!important;}
    .#{$breakpoint}\:text-center { text-align: center!important;}

    // end breakpoint
  }
}


// Effects on hover 
.hover\:text-underline:hover{ text-decoration: underline!important; }
.group:hover .group-hover\:text-underline{ text-decoration: underline!important; }
.hover\:text-decoration-none:hover{ text-decoration: none!important; }
.group:hover .group-hover\:text-decoration-none{ text-decoration: none!important;}

// Text shadow
.text-shadow{ text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);}