
// Define colors of text
// default color chosen as 600, for example text-red classname = text-red-600
$colors_text_main:(
  "base": var(--text-color-base),
  "secondary": var(--text-color-secondary),
  "muted": var(--text-color-muted),
  "inherit": inherit,
  "initial": initial,
  "white": #FFF,
  "dark": #000,
  "black": #000,
  "primary": map-get(map-get($colors_list, "primary"), "600"),
  "red": map-get(map-get($colors_list, "red"), "600"),
  "green": map-get(map-get($colors_list, "green"), "600"),
  "blue": map-get(map-get($colors_list, "blue"), "600"),
  "orange": map-get(map-get($colors_list, "orange"), "600"),
  "yellow": map-get(map-get($colors_list, "yellow"), "600"),
  "purple": map-get(map-get($colors_list, "purple"), "600"),
  "teal": map-get(map-get($colors_list, "teal"), "600")
);


@each $classname, $value in $colors_text_main {
  .links-color-#{$classname} a { color: #{$value}; } // all inner links
  .text-#{$classname} { color: #{$value}; }
  .hover\:text-#{$classname}:hover{ color: #{$value}; }
  .group:hover .group-hover\:text-#{$classname}{ color: #{$value}; }
}


// Generate classes for text colors based on color list of theme.scss 
@each $color, $shades in $colors_list {
  // Generate for each shade (100,200,300,... 900)
  // For ex. .text-primary-100{ color:var(--primary-100) } text-red-200{ color:var(--red-200) }
  @each $shade, $value in $shades {
    .text-#{$color}-#{$shade} { color:var(--#{$color}-#{$shade}) !important;  }
    .hover\:text-#{$color}-#{$shade}:hover { color:var(--#{$color}-#{$shade}) !important; }
    .group:hover .group-hover\:text-#{$color}-#{$shade} { color:var(--#{$color}-#{$shade}) !important; }
  }
}


