
.vertical-align-baseline {vertical-align: baseline;}
.vertical-align-top {vertical-align: top;}
.vertical-align-middle {vertical-align: middle;}
.vertical-align-bottom {vertical-align: bottom;}
.vertical-align-text-bottom {vertical-align: text-bottom;}
.vertical-align-text-top {vertical-align: text-top;}
.vertical-align-sub {vertical-align: sub;}
.vertical-align-super {vertical-align: super;}