.visibility-visible{ visibility: visible;}
.visibility-hidden{ visibility: hidden;}
.visibility-collapse{ visibility: collapse;}

.visually-hidden{
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow:hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  border:0 !important;
  opacity:0 !important;
}

// Generate responsive utility classes
// breakpoints can be changed from base-settings.scss
@each $breakpoint, $screen_size in $breakpoints {
  
  @media ($screen_size){
    // breakpoinst styles
    .#{$breakpoint}\:visibility-visible{ visibility: visible;}
    .#{$breakpoint}\:visibility-hidden{ visibility: hidden;}
    .#{$breakpoint}\:visibility-collapse{ visibility: collapse;}
    // end breakpoint
  }
  
}
