
.alert{
  // variables changed depending on state
  --alert-bg-color: transparent;
  --alert-text-color: inherit;
  color: var(--alert-text-color);
  background-color: var(--alert-bg-color);
  position: relative;
  padding:8px 12px;
  margin-bottom: 1rem;
  border: transparent;
  border-radius: var(--border-radius-base); // from: _base-settings.scss or _variables-root.scss
  margin-bottom: 8px;
  border:1px solid rgba(#000, 0.1);
  display: flex;
  align-items: center;
  svg, .icon, img{ margin-right:8px; width: 20px; height: 20px;}
}
.alert-danger{
  --alert-text-color: var(--text-color-red);
  --alert-bg-color: var(--red-100);
}
.alert-warning{
  --alert-text-color: var(--text-color-orange);
  --alert-bg-color: var(--orange-100);
}
.alert-success{
  --alert-text-color: var(--text-color-green);
  --alert-bg-color: var(--green-100);
}
.alert-info{
  --alert-text-color: var(--text-color-blue);
  --alert-bg-color: var(--blue-100);
}

