//
// Base styles
//

.alert {
  // variables changed depending on state
  --alert-bg-color: transparent;
  --alert-text-color: inherit;

  color: var(--alert-text-color);
  background-color: var(--alert-bg-color);
  
  position: relative;
  padding: 8px 12px;
  margin-bottom: 0.5rem;
  border: transparent;
  border-radius: 8px;
}


.alert-danger{
  --alert-text-color: var(--text-color-danger);
  --alert-bg-color: var(--danger-200);
}

.alert-warning{
  --alert-text-color: var(--text-color-warning);
  --alert-bg-color: var(--warning-200);
}

.alert-success{
  --alert-text-color: var(--text-color-success);
  --alert-bg-color: var(--success-200);
}

.alert-info{
  --alert-text-color: var(--text-color-info);
  --alert-bg-color: var(--info-200);
}

