//
// Base styles
//

.alert{
  // variables changed depending on state
  --alert-bg-color: transparent;
  --alert-text-color: inherit;
  color: var(--alert-text-color);
  background-color: var(--alert-bg-color);
  position: relative;
  padding: 8px 12px;
  margin-bottom: 1rem;
  display:flex; 
  align-items:center;
  border: transparent;
  border-radius: $border-radius-base; // from: _base-settings.scss

  p{ margin-bottom:0}

}


.alert-danger{
  --alert-text-color: var(--text-color-red);
  --alert-bg-color: var(--red-100);
}

.alert-warning{
  --alert-text-color: var(--text-color-orange);
  --alert-bg-color: var(--orange-100);
}

.alert-success{
  --alert-text-color: var(--text-color-green);
  --alert-bg-color: var(--green-100);
}

.alert-info{
  --alert-text-color: var(--text-color-teal);
  --alert-bg-color: var(--teal-100);
}

