.avatar{
  font-size: var(--font-size, 1.5rem);
  width: var(--size, 40px);
  height: var(--size, 40px);
  background-color: var(--primary-500, teal);
  color: #ffffffaf;
  object-fit: cover;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 500;
  white-space: nowrap;
  user-select: none;
  position: relative;
  overflow: hidden;
  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-xs{
  width: 24px; height: 24px;
  font-size: 1rem;
}

.avatar-sm{
  width: 32px; height: 32px;
  font-size: 1.2rem;
}

.avatar-md{
  width: 38px; height: 38px;
  font-size: 1.4rem;
}

.avatar-lg{
  width: 48px; height: 48px;
  font-size: 3rem;
}

.avatar-xl{
  width: 60px; height: 60px;
  font-size: 4rem;
}
.avatar-2xl{
  width: 120px; height: 120px;
  font-size: 4rem;
}