.badge {
  --badge-text-color: inherit;
  --badge-bg: var(--neutral-300);
  --badge-border: transparent;

  color: var(--badge-text-color);
  background-color: var(--badge-bg);
  border:1px solid var(--badge-border);
  font-weight: 500;
  font-size: 0.9rem;
  display: inline-flex;
  align-items: center;
  gap:4px;
  padding:4px 8px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius:16px;
  min-height: 28px;

  svg, img, .icon{
    width: 18px; height: 18px;
  }
}

.badge:empty { display: none; }


// Badge with each color name
// For ex. .badge-green{ --badge-bg: var(--green-100); ...} 
@each $color, $shades in $colors_list {

  .badge-#{$color} { 
    --badge-bg: var(--#{$color}-100);
    --badge-text-color: var(--#{$color}-600);
    --badge-border: var(--#{$color}-300);
  }

}