.badge {
  
  --badge-text-color: inherit;
  --badge-bg: var(--neutral-300);

  display: inline-flex;
  align-items: center;
  gap:4px;
  padding:4px 8px;
  font-weight: 400;
  line-height: 1;
  color: var(--badge-text-color);
  background-color: var(--badge-bg);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius:16px;

  svg, img, .icon{
    width: 18px; height: 18px;
  }
}
.badge:empty { display: none; }

.badge-success{
  --badge-bg: var(--green-100);
  --badge-text-color: var(--text-color-success);
}
.badge-warning{
  --badge-bg: var(--orange-100);
  --badge-text-color: var(--text-color-warning);
}
.badge-danger{
  --badge-bg: var(--red-100);
  --badge-text-color: var(--text-color-danger);
}
.badge-primary{
  --badge-bg: var(--primary-100);
  --badge-text-color: var(--text-color-primary);
}
.badge-info{
  --badge-bg: var(--teal-100);
  --badge-text-color: var(--text-color-info);
}
.badge-neutral{
  --badge-bg: var(--neutral-200);
  --badge-text-color: var(--text-color-secondary);
}