//
// Base styles
//
.btn{
  // scss-docs-start btn-css-vars
  --btn-padding-x: 12px;
  --btn-padding-y: 6px;
  --btn-font-size-md: 1rem;
  --btn-font-size-sm: 1rem;
  --btn-font-size-lg: 1.15rem;
  --btn-font-weight:500;
  --btn-bg: transparent;
  --btn-border-color: transparent;
  --btn-border-radius: 8px;
  --btn-size-sm: 32px;
  --btn-size-md: 40px;
  --btn-size-lg: 48px;
  --btn-text-color: inherit;
  // scss-docs-end btn-css-vars
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--btn-size-md);
  padding: var(--btn-padding-y) var(--btn-padding-x);
  font-size: var(--btn-font-size-md);
  font-weight: var(--btn-font-weight);  
  background-color: var(--btn-bg);
  border:1px solid var(--btn-border-color);
  border-radius: var(--btn-border-radius);
  color: var(--btn-text-color);
  line-height: 1.2;
  text-align: center;
  text-decoration:none;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  user-select: none;
  gap:0.15rem;
  &:disabled,
  &.disabled {
    opacity:0.4;
  }

  &:hover {  
    background-color: var(--btn-bg-hover);
    border-color: var(--btn-border-hover-color);
    text-decoration: none;
  }

  &:active {  
    transform: translateY(1px);
    box-shadow:0 3px 6px hsla(0, 0%, 25%, 0.2) inset;
  }

 
}

.btn-lg {
  height: var(--btn-size-lg)!important;
  font-size: var(--btn-font-size-lg)!important;
  padding: var(--btn-padding-y) calc(var(--btn-padding-x) * 2);
}

.btn-sm {
  height: var(--btn-size-sm)!important;
  font-size: var(--btn-font-size-sm)!important;
}

.btn-icon{
  width: var(--btn-size-md);
  padding-left:0; padding-right:0;
}
.btn-lg.btn-icon{
  width: var(--btn-size-lg);
  padding-left:0; padding-right:0;
}
.btn-sm.btn-icon{
  width: var(--btn-size-sm);
  padding-left:0; padding-right:0;
}

//
// Alternate buttons (using method of finalui design system www.finalui.com )
//
.btn-intense{ 
  --btn-bg: var(--neutral-900);
  --btn-bg-hover: var(--neutral-800);
  --btn-text-color: var(--text-color-invert);
  --btn-border-hover-color: transparent;
  box-shadow:0 -2px 0 0 hsla(0, 0%, 0%, 0.2) inset, 0 8px 10px hsla(0, 0%, 100%, 0.12) inset;
}

.btn-primary{
  --btn-bg: var(--primary-500);
  --btn-bg-hover: var(--primary-400);
  --btn-text-color: var(--text-color-white);
  --btn-border-hover-color: transparent;
  box-shadow:0 -1px 0 0 hsla(0, 0%, 0%, 0.2) inset, 0 8px 10px hsla(0, 0%, 100%, 0.12) inset;
}
.btn-danger{
  --btn-bg: var(--danger-500);
  --btn-bg-hover: var(--danger-400);
  --btn-text-color: var(--text-color-white);
  --btn-border-hover-color: transparent;
  box-shadow:0 -1px 0 0 hsla(0, 0%, 0%, 0.2) inset, 0 8px 10px hsla(0, 0%, 100%, 0.12) inset;
}
.btn-secondary {
  --btn-bg: transparent;
  --btn-bg-hover: var(--bg-color-secondary);
  --btn-text-color: var(--text-color-base);
  --btn-border-color: var(--border-color-base);
  --btn-border-hover-color: var(--border-color-strong);
  box-shadow:0 -1px 0 0 hsla(0, 0%, 0%, 0.15) inset, 0 -4px 4px hsla(0, 0%, 50%, 0.1) inset;
}
.btn-danger-soft{
  --btn-bg: transparent;
  --btn-bg-hover: var(--bg-color-secondary);
  --btn-text-color: var(--text-color-danger);
  --btn-border-color: var(--border-color-base);
  --btn-border-hover-color: var(--border-color-strong);
  box-shadow:0 -1px 0 0 hsla(0, 0%, 0%, 0.15) inset, 0 -4px 4px hsla(0, 0%, 50%, 0.1) inset;
}
.btn-neutral{
  --btn-bg: var(--neutral-100);
  --btn-bg-hover: var(--neutral-200);
  --btn-text-color: var(--text-color-base);
  --btn-border-hover-color: transparent;
}
.btn-primary-soft{
  --btn-bg: var(--primary-200);
  --btn-bg-hover: var(--primary-300);
  --btn-text-color: var(--text-color-primary);
  --btn-border-hover-color: transparent;
}

.btn-plain{
  --btn-bg: transparent;
  --btn-bg-hover: var(--neutral-200);
  --btn-text-color: var(--text-color-base);
  --btn-border-hover-color: transparent;
}



