//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; // See https://github.com/twbs/bootstrap/pull/22740#issuecomment-305868106
  word-wrap: break-word;
  background-color: var(--bg-color-base);
  background-clip: border-box;
  border-radius: 8px;
  border:1px solid var(--border-color-base);

  img{
    max-width:100%;
  }
}

.card-body {
  flex: 1 1 auto;
  padding: 24px 24px;
}

