//
// Base styles
//

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0; 
  word-wrap: break-word;
  background-color: var(--bg-color-base);
  background-clip: border-box;
  border:1px solid var(--border-color-default);
  border-radius: var(--border-radius-base); // from: _base-settings.scss or _variables-root.scss
  img{
    max-width:100%;
  }
}
a.card{
  text-decoration: none;
  color: inherit;
}
.card-body {
  flex: 1 1 auto;
  padding: 20px 20px;
}

