//
// Base styles
//

dialog {
  z-index: 999;
  visibility: hidden;
  width: 90%;
  min-width:360px;
  top:0;
  background-color: var(--bg-color-base);
  box-shadow: 0 4px 12px rgba(#000, 0.2);
  font-size: $font-size-base;
  color: var(--text-color-base);
  border:1px solid var(--border-color-default);
  border-radius: $border-radius-base; // from: _base-settings.scss

  img{
    max-width:100%;
  }
}
dialog[open]{
  visibility: visible;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  //backdrop-filter: blur(4px);
}


.overlay, .backdrop{
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 99;
    background-color: rgba(#000, 0.5);
}