//
// Base styles
//

dialog:not([open]){display:none}

dialog {
  z-index: 99999;
  overflow: hidden;
  padding:0;
  width: 90%;
  max-width:620px;
  top:0;
  margin-top:8%;
  background-color: var(--bg-color-base);
  box-shadow: 0 4px 12px rgba(#000, 0.2);
  font-size: var(--font-size-default);
  color: var(--text-color-base);
  border:1px solid var(--border-color-default);
  border-radius: var(--border-radius-base); // from: _base-settings.scss or _variables-root.scss

  img, svg{
    max-width:100%;
  }
}

.dialog-xl{ max-width: 1024px;  }
.dialog-lg{ max-width: 760px; }
.dialog-md{ max-width: 620px; }
.dialog-sm{ max-width: 360px; }

dialog::backdrop {
  background: rgba(70, 70, 90, 0.8);
  //backdrop-filter: blur(4px);
}

.dialog-header{
  display:flex;  align-items:center; justify-content:space-between;
  padding:8px; padding-left:16px;  
  border-bottom:1px solid var(--border-color-default);
  gap:4px;
}
.dialog-body{
  padding:20px;
  overflow-y:auto;
  scrollbar-width: thin;
  scrollbar-color: var(--neutral-400) rgba(0, 0, 0, 0);
  max-height:70vh;
}
.dialog-bottom{
  display:flex; align-items:center;
  padding:12px 16px;
  gap:4px;
  border-top:1px solid var(--border-color-default)
}




.dialog-aside-left, .dialog-aside-right{
  transition: transform 0.25s, opacity 1s;
  margin-top:0; margin-bottom: 0;
  max-height: none;
  max-height: 100vh;
  border-radius:0;
  height: 100%;
  .dialog-body{
    max-height:none;
    max-height: 92vh;
  }
}

.dialog-aside-left{ margin-left:0; left:0; 
  transform: translateX(-100%);  opacity:0;
  &[open]{ 
    transform: translateX(0); opacity:1; transition: transform 0.25s, opacity 0s; 
  }
}
.dialog-aside-right{ margin-right:0; right:0;
  transform: translateX(100%); opacity:0;
  &[open]{ 
    transform: translateX(0); opacity:1; transition: transform 0.25s, opacity 0s;
  }
}


.btn-close-dialog{
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  float:right; 
  position: absolute;
  right:0; top:0; 
  margin:8px;
  padding:4px;
  min-width: 32px; 
  height: 32px;
  color:var(--text-color-secondary);
  background-color: transparent;
  border:0;
  border-radius: var(--border-radius-base);
  svg, .icon, img{
    max-width: 20px; max-height: 20px;
    min-width: 16px; min-height: 16px;
  }
  &:hover{
    background-color: var(--alpha-2);
    text-decoration: none;
  }
  &:active{  
    transform: translateY(1px);
    box-shadow:0 3px 6px hsla(0, 0%, 25%, 0.2) inset;
  }
}

.overlay, .backdrop{
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 99;
    background: rgba(70, 70, 90, 0.8);
}