
.dropdown{
  // display: none;
  z-index: 1000;
  position: absolute;
  top:99%;
  min-width: 10rem;
  padding:4px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  list-style: none;
  background-color:var(--bg-color-raised);
  background-clip: padding-box;  
  box-shadow: 0 4px 16px rgba(#000, 0.1);
  border: 1px solid var(--neutral-300);
  border-radius: var(--border-radius-lg); // from: _base-settings.scss or _variables-root.scss

  hr{ margin:4px 0;}
  .divider{ margin:4px 0; border-top:1px solid var(--neutral-300); }
}

.dropdown.open-up{
  bottom:0!important;
  top:auto!important;
  transform: translateY(-40px);
}

.dropdown-item {
  display: flex;
  gap:8px; 
  align-items: center;
  width: 100%;
  padding: 4px 8px;
  min-height: 38px;
  clear: both;
  color: var(--text-color-base);
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  border-radius: var(--border-radius-base); // from: _base-settings.scss or _variables-root.scss
}
.dropdown-item:hover, .dropdown-item:focus {
  text-decoration: none;
  background-color: var(--neutral-100);
}
.dropdown-item.active, .dropdown-item:active {
  color: var(--text-color-primary);
  text-decoration: none;
  background-color: var(--neutral-200);
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: var(--tetx-color-muted);
  pointer-events: none;
  cursor: not-allowed;
  background-color: transparent;
}


// Dropdown icon without extra tag
// Ex: <button class="btn has-icon-dropdown">

.has-icon-dropdown::after {
  display: inline-block;
  vertical-align:3px;
  content: "";
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left: 5px solid transparent;
}

.has-icon-dropup::after {
  display: inline-block;
  vertical-align:3px;
  content: "";
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left: 5px solid transparent;
}


// Dropdown icon separate  tag
// Ex: <i class="icon-dropdown"></i>

.icon-dropdown {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left: 5px solid transparent;
}

.icon-dropup {
  width: 0;
  height: 0;
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-top: 0;
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

