
.dropdown-menu {
  // position: absolute;
  // display: none;
  z-index: 1000;
  min-width: 10rem;
  padding:4px;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  list-style: none;
  background-color:var(--bg-color-raised);
  background-clip: padding-box;  
  box-shadow: 0 4px 16px rgba(#000, 0.2);
  border: 1px solid var(--neutral-300);
  border-radius: $border-radius-base; // from: _base-settings.scss
  
  hr{ margin:4px 0;}
  .divider{ margin-top:4px; margin-bottom:4px; border-top:1px solid var(--neutral-300); }
}


.dropdown-item {
  display: flex;
  gap:8px; 
  align-items: center;
  width: 100%;
  padding: 4px 8px;
  min-height: 38px;
  clear: both;
  color: var(--tetx-color-base);
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  text-decoration: none;
  border-radius: $border-radius-sm;
}
.dropdown-item:hover, .dropdown-item:focus {
  text-decoration: none;
  background-color: var(--neutral-100);
}
.dropdown-item.active, .dropdown-item:active {
  color: var(--text-color-primary);
  text-decoration: none;
  background-color: var(--neutral-200);
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: var(--tetx-color-muted);
  pointer-events: none;
  cursor: not-allowed;
  background-color: transparent;
}


// Dropdown icon on trigger
.has-dropdown::after {
  display: inline-block;
  vertical-align:4px;
  content: "";
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left: 5px solid transparent;
}