
.form-control {
  min-height: 38px;
  color: var(--text-color-base);
  background-color: var(--neutral-50);
  border: 1px solid var(--neutral-300);
  border-radius:$border-radius-base; // from: _base-settings.scss
  display: block;
  min-width:100px;
  width: 100%;
  padding: .4rem .6rem;
  line-height: 1.4;
  appearance: none; // Fix appearance for date inputs in Safari
  background-clip: padding-box;
  
  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap
    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    outline-offset:1px;
    outline-color: var(--primary-500);
    // outline-width: 2px;
  }
  &:hover {
    border-color: var(--neutral-400);
  }

  &::-webkit-datetime-edit {
    display: block;
    padding: 0;
  }

  // Placeholder
  &::placeholder {
    color: var(--text-color-muted);
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled inputs
  &:disabled {
    color: var(--text-color-muted);
    background-color: var(--neutral-200);
    border-color: var(--neutral-200);
    opacity: 0.9;
    cursor:not-allowed;
  }
}
