.form-check-input:checked[type=checkbox] {
  --form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}
.form-check-input:checked[type=radio] {
  --form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}
.form-check-input[type=checkbox]:indeterminate {
  background-color: #0d6efd;
  border-color: #0d6efd;
  --form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}


.form-check-input {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--primary-100);
  background-image: var(--form-check-bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border:1px solid var(--primary-400);
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
}
.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}
.form-check-input[type=radio] {
  border-radius: 50%;
}

.form-check-input:focus, .form-check-input:focus-visible {
  outline-offset: 3px;
  outline-style: #0d6efd;
}
.form-check-input:checked {
  background-color: var(--primary-500);;
  border-color: var(--primary-500);
}

.form-check-input:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  cursor: default;
  opacity: 0.5;
}


.form-check {
  display: flex;
  align-items: center;
  min-height: 1.5rem; 
  .form-check-input {
    float: left;
  }
}

.form-check-reverse {
  padding-right: 1.5em;
  padding-left: 0;
  text-align: right;
  .form-check-input {
    float: right;
    margin-right: -1.5em;
    margin-left: 0;
  }
}



// Card checkboxes

.card-check{ 
  width: 100%;
  border:1px solid var(--neutral-300); 
  &:hover{ border:1px solid var(--primary-400); }
}
.card-check:has(input[type="checkbox"]:checked),
.card-check:has(input[type="radio"]:checked) {
   background-color:var(--primary-100);
   border-color:var(--primary-500)!important;
}