
.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-base);
  appearance: none; // Fix appearance for date inputs in Safari
  background-color: var(--neutral-0);
  background-clip: padding-box;
  border: 1px solid var(--neutral-300);
  height: 40px;
  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  border-radius: $border-radius-md;

  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus {
    color: var(--text-base);
    background-color: var(--neutral-0);
    border-color: var(--primary-500);
    outline: 0;
    box-shadow: 0 0 0 1px blue;
  }
  &:hover {
    border-color: var(--neutral-500);
  }

  &::-webkit-date-and-time-value {
    // On Android Chrome, form-control's "width: 100%" makes the input width too small
    // Tested under Android 11 / Chrome 89, Android 12 / Chrome 100, Android 13 / Chrome 109
    //
    // On iOS Safari, form-control's "appearance: none" + "width: 100%" makes the input width too small
    // Tested under iOS 16.2 / Safari 16.2
    min-width: 85px; // Seems to be a good minimum safe width

    // Android Chrome type="date" is taller than the other inputs
    // because of "margin: 1px 24px 1px 4px" inside the shadow DOM
    // Tested under Android 11 / Chrome 89, Android 12 / Chrome 100, Android 13 / Chrome 109
    margin: 0;
  }

  // Prevent excessive date input height in Webkit
  // https://github.com/twbs/bootstrap/issues/34433
  &::-webkit-datetime-edit {
    display: block;
    padding: 0;
  }

  // Placeholder
  &::placeholder {
    color: var(--text-muted);
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled {
    color: var(--text-muted);
    background-color: var(--neutral-200);
    border-color: var(--neutral-200);
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 0.9;
    cursor:not-allowed;
  }


}