
/// Basic naviagation wrapper for any use case
.nav {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap:2px;
  li{ position: relative;}
}

/// Additional utility class Ex: class="nav nav-row"
.nav-row, .nav-horizontal{ 
  flex-direction: row;
  align-items: center;
  width: auto;
}

/// Additional utility class Ex: class="nav nav-col"
.nav-col, .nav-vertical{
  flex-direction: column;
  .nav-link{
    width: 100%;
    justify-content: flex-start;
  }
}

/// Additional utility class  class="nav nav-underline"
.nav-underline{ 
  flex-wrap: nowrap; padding:4px;
  .active{
    position: relative;
    &:after{
      content: "";
      bottom:-4px;
      left:0;
      width: 100%; height: 1px;
      position: absolute;
      display: inline-block;
      border-bottom: 2px solid var(--primary-500);
    }
  }

  .nav-link.active{ background-color: initial;}
  .nav-link.active:hover{background-color: var(--alpha-1);}
} 



.item-nav{
  display: inline-flex; 
  align-items: center;
  position: relative;
  .nav-link{
    width: 100%;
  }
  // keep nav link highlighted when mouse cursor on its dropdown items
  &:has(.dropdown):hover .nav-link{
    background-color: var(--alpha-1);
  }
}

.nav-link {
  min-height: 38px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  gap:8px;
  padding:8px 12px;
  text-decoration:none;
  white-space: nowrap;
  color:var(--neutral-700);
  border-radius: var(--border-radius-base); // from: _base-settings.scss or _variables-root.scss

  svg, img, .icon{ width: 20px; height: 20px;  min-width: 16px; min-height: 16px;}
  
  &:hover{
    text-decoration:none;
    color: var(--text-color-base);
    background-color: var(--alpha-1);
  }
  &:active {
    background-color: var(--neutral-300);
  }
  &.active{
    color:var(--primary-600);
    background-color: var(--primary-100);    
  }
  &.disabled {
    color: var(--text-color-muted);
    cursor: not-allowed;
  }
  
}

// Compacy variant of nav links
.nav-compact .nav-link {
  min-height: 32px;
  gap:6px;
  padding:4px 8px;
 // font-size:$font-size-sm;
}