.nav {
  display: flex;
  list-style: none;
  gap:2px;
  flex-wrap: wrap;
}

.nav-row, .nav-horizontal{ 
  flex-direction: row;
  width: auto;
}

.nav-col, .nav-vertical{
  flex-direction: column;
  width: 100%;
  .nav-link{
    width: 100%;
    justify-content: flex-start;
  }
}

.nav-fill { 
  width: 100%;
  > * { 
    flex-grow: 1; 
    flex-basis: 0;
    text-align: center;
  }
}


.nav-item{
  display: inline-flex; 
  align-items: center;
  position: relative;
  > .nav-link{
    width: 100%;
  }
}

.nav-link {
  min-height: 38px;
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  gap:8px;
  padding: 8px 12px;
  text-decoration:none;
  white-space: nowrap;
  color:inherit;
  border-radius: $border-radius-base; // from: _base-settings.scss

  &:hover{
    text-decoration:none;
    color: var(--text-color-base);
    background-color: var(--alpha-1);
  }
  &:active {
    background-color: var(--neutral-300);
  }
  &.active{
    color:var(--text-color-primary);
    background-color: var(--primary-100);    
  }
  &.disabled {
    color: var(--text-color-muted);
    cursor: not-allowed;
  }
  
}

