.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  gap:2px;
  color:var(--text-color-base);
}

.nav-item{
  display: inline-flex; 
  align-items: center;
  position: relative;
}

.nav-link {
  height: 38px;
  display: flex; 
  align-items: center;
  gap:8px;
  padding: 8px 12px;
  font-size: inherit;
  text-decoration:none;
  color:inherit;
  border-radius: $border-radius-base; // from: _base-settings.scss

  &:hover,
  &:focus {
    text-decoration:none;
    color: var(--text-color-base);
    background-color: var(--neutral-1000-alpha);
  }
  &:active {
    background-color: var(--neutral-300);
  }

  &.active{
    color:var(--text-color-primary);
    background-color: var(--primary-100);    
  }
  // Disabled state lightens text
  &.disabled {
    color: var(--text-color-muted);
    cursor: not-allowed;
  }
}





//
// Other variants
//
.nav-vertical{
  flex-direction: column;
  align-items: stretch;
  .nav-link{width: 100%;}
}

.nav-fill {
  > .nav-link,
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  > .nav-link,
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}


////// Nav underline Tab styled
.nav-underline {
  .nav-item{
    border-bottom-width: 2px;
    margin-bottom:-2px;
    &.active{
      border-bottom: 2px solid var(--primary-500);
    }  
  }
}

