
.pulse {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius:10px;
    text-align: center;
    display:inline-block;
    background: red;
}

.pulse::after {
    content: '';
    position: absolute;
    inset: -10px;
    border-radius: 20px;
    background: rgba(255, 0, 0, 0.4);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.8);
        opacity: 0.8;
    }
    70% {
        transform: scale(1.25);
        opacity: 0;
    }
    100% {
        transform: scale(0.8);
        opacity: 0;
    }
}
