.segmented-control{
  background-color:var(--bg-color-lower);
  display:inline-flex;
  width:auto;
  padding:1px;
  height:38px;
  border-radius: $border-radius-base; // from: _base-settings.scss

  .segmented-item{
    justify-content:center;
    padding: 0.4rem 0.8rem;
    align-items: center;
    display: inline-flex;
    text-align: center;
    font-size: inherit;
    font-weight: 500;
    text-decoration:none;
    user-select: none;
    color:var(--text-color-secondary);
    text-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
    border:1px solid transparent; 
    border-radius: $border-radius-base; // from: _base-settings.scss
    
    &:hover,
    &:focus {
      text-decoration:none;
      color:var(--text-color-base);
      background-color: var(--neutral-1000-alpha);
    }

    &.active, &.selected, &:has(input[type="radio"]:checked){
      color:var(--text-color-base);
      background-color: var(--bg-color-raised); 
      box-shadow:0 1px 2px rgba(#000, .1) ;
      border:1px solid var(--border-color-base); 
    }

    // Disabled state lightens text
    &.disabled {
      color: var(--text-color-muted);
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.segmented-control.w-full, .segmented-control.w-100\%{
  .segmented-item{
    flex-grow: 1;
    flex-basis:0;
  }
}