//
// Basic Bootstrap table
//

.table {
  --table-bg: var(--bg-base);
  --table-border-color: var(--border-default);
  --table-active-text-color: var(--text-primary);
  --table-active-bg: var(--primary-200);
  --table-hover-bg: var(--bg-secondary);
  --table-cell-padding-x: .5rem;
  --table-cell-padding-y: .5rem;

  width: 100%;
  margin-bottom: 20px;
  vertical-align: top;
  border-color: var(--table-border-color);

  > :not(caption) > * > * {
    padding: var(--table-cell-padding-x) var(--table-cell-padding-x);
    background-color: var(--table-bg);
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }
}

.caption-top {
  caption-side: top;
}


.table-sm {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
  }
}


// Border versions
//
// Add or remove borders all around the table and between all the columns.
//
// When borders are added on all sides of the cells, the corners can render odd when
// these borders do not have the same color or if they are semi-transparent.
// Therefore we add top and border bottoms to the `tr`s and left and right borders
// to the `td`s or `th`s

.table-bordered {
  > :not(caption) > * {
    border-width: 1px 0;
    // stylelint-disable-next-line selector-max-universal
    > * {
      border-width: 0 1px;
    }
  }
}

.table-borderless {
  // stylelint-disable-next-line selector-max-universal
  > :not(caption) > * > * {
    border-bottom-width: 0;
  }
  > :not(:first-child) {
    border-top-width: 0;
  }
}

// Responsive tables
.table-responsive{
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
