<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Type some info">
  <meta name="author" content="Vosidiy M">

	<meta http-equiv="refresh" content="0; url=doc-start.html">

  <title>Website layout sample </title>

	<!-- Site script (only for documentation site) -->
	<script src="/site/script.js"></script>

	<!-- FinalCSS -->
	<link href="/css/final.css" rel="stylesheet" type="text/css" />

	<!-- Template parts (only for documentation site) -->
	<script src="/site/partials.js"></script>

</head>
<body class="bg-base">

<!-- ======= HEADER =======  -->
include part-header.html
<header-component></header-component>
<!-- ======= HEADER end// =======-->

<div class="container">

<div class="d-flex flex-wrap">
<aside class="w-full desktop:w-20%">
	
<!-- ======= SIDEBAR =======  -->
<sidebar-component></sidebar-component>
<!-- ======= SIDEBAR end// =======-->

</aside>
<main class="desktop:w-80% pl-0 desktop:pl-10 pt-10">

<h6 class="mb-3 text-secondary">Documentation</h6>
<h1 class="fs-4xl my-20px">An index page</h1>

<article class="article-wrap mb-16">
<hr>

<p class="py-10 text-secondary">
	Choose a topic from left menu
</p>

</article>

</main>
</div> <!-- row end -->
</div> <!-- container end -->


<footer class="bg-secondary border-top py-6">
  <div class="container">
    <section class="d-flex align-items-center flex-col desktop:flex-row desktop:justify-content-between">
        <p class="desktop:mb-0 mb-3 text-center desktop:text-left"> © <b>Final CSS</b> - a library based on Final UI - Design System  </p>  
        <nav class="nav">
            <a href="/docs/doc.html" class="nav-link">Docs</a>
            <a href="https://finalui.com" target="_blank" class="nav-link">Figma UI Kit</a>
            <a href="https://github.com/getfinalui/finalcss"  target="_blank" class="nav-link">Github</a>
        </nav>
      </section>
  </div><!-- //container -->
</footer>


</body>
</html>
